version: '3.8'

services:
  # 1. 数据库：MySQL
  mysql-container:
    image: mysql:8.0
    container_name: dev_mysql
    restart: always
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci # 设置默认字符集
    environment:
      MYSQL_DATABASE: meeting_room_booking_system
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - '3306:3306'
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 5s
      retries: 10
    networks:
      - infrastructure-network

  # 2. 缓存：Redis
  redis-container:
    image: redis:7.0
    container_name: dev_redis
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
    networks:
      - infrastructure-network

  # 3. 对象存储：MinIO
  minio-container:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    container_name: dev_minio
    ports:
      - '9000:9000' # API 端口
      - '9001:9001' # 控制台端口（浏览器访问）
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
      # 配置CORS允许所有来源
      MINIO_BROWSER_REDIRECT_URL: http://localhost:9001
    volumes:
      # 这里的 ./data 指的是你项目根目录下的 data 文件夹
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - infrastructure-network

networks:
  infrastructure-network:
    driver: bridge

volumes:
  minio_data: # 持久化 MinIO 的文件
