version: '3.8'

services:
  # 1. 数据库：MySQL
  mysql-container:
    image: mysql:8.0
    container_name: dev_mysql
    restart: always
    environment:
      MYSQL_DATABASE: meeting_room_booking_system
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - '3306:3306'
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 5s
      retries: 10
    networks:
      - infrastructure-network

  # 2. 缓存：Redis
  redis-container:
    image: redis:7.0
    container_name: dev_redis
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
    networks:
      - infrastructure-network

  # 3. 对象存储：MinIO
  minio-container:
    image: quay.io/minio/minio:RELEASE.2024-01-31T20-20-33Z
    container_name: dev_minio
    ports:
      - '9000:9000' # API 端口
      - '9001:9001' # 控制台端口（浏览器访问）
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - infrastructure-network

networks:
  infrastructure-network:
    driver: bridge

volumes:
  minio_data: # 持久化 MinIO 的文件
